---
import config from 'virtual:config'

import LinkNav from './LinkNav.astro'

const fc = config.footer
const verticalGap = 'gap-2'
---

<footer class='mx-0 mb-5 mt-auto'>
  <div class='border-t pt-3'></div>
  {/* On medium screen, the footer is stacked, each section is one row */}
  {/* On large screen, the footer is one line since sections are col by col on one row*/}
  <div
    class:list={[
      'flex flex-col items-center',
      verticalGap,
      'text-center text-muted-foreground text-sm [&_a]:text-foreground hover:[&_a]:text-primary md:flex-col lg:flex-row lg:justify-between lg:text-left'
    ]}
  >
    {/* Copyright + Credits */}
    <div
      class:list={[
        'flex flex-col items-center',
        verticalGap,
        'lg:flex-row lg:items-center lg:divide-x lg:divide-muted-foreground/50 lg:[&>*]:px-2 lg:[&>*:first-child]:pl-0'
      ]}
    >
      <span class='whitespace-nowrap'>
        Copyright &copy; <time id='footer-year'></time>
        {config.author}
      </span>
      {
        fc.credits && (
          <span class='whitespace-nowrap'>
            Powered by{' '}
            <a href='https://astro.build/' target='_blank' rel='noopener noreferrer'>
              Astro
            </a>
            ,{' '}
            <a href='https://unocss.dev/' target='_blank' rel='noopener noreferrer'>
              UnoCSS
            </a>{' '}
            &{' '}
            <a
              href='https://github.com/cworld1/astro-theme-pure'
              target='_blank'
              rel='noopener noreferrer'
            >
              Pure
            </a>{' '}
            theme
          </span>
        )
      }
    </div>

    {/* Links + Social Icons, with divider | between parts on large screen */}
    <div
      class:list={[
        'flex flex-col items-center',
        verticalGap,
        'lg:flex-row lg:items-center lg:divide-x lg:divide-muted-foreground/50 lg:[&>*]:px-2 lg:[&>*:first-child]:pl-0'
      ]}
    >
      {
        fc.links && fc.links.length > 0 && (
          <div class='flex items-center gap-1 [&>a:not(:last-child)]:after:content-["/"] [&>a:not(:last-child)]:after:text-muted-foreground/50 [&>a:not(:last-child)]:after:ml-1'>
            {fc.links.map(
              ({ title, link, style = '' }: { title: string; link: string; style?: string }) => (
                <a href={link} target='_blank' rel='noopener noreferrer' class={style}>
                  {title}
                </a>
              )
            )}
          </div>
        )
      }

      <LinkNav includeRss={true} ariaLabel='Social links' />
    </div>
  </div>
</footer>

{/* Use client-side JavaScript to get current year when page loads */}
<script is:inline>
  document.getElementById('footer-year').innerText = new Date().getFullYear()
</script>
