---
import { Image } from 'astro:assets'
import * as about from 'content/about.md'
import * as misc from 'content/misc.md'

import { PostPreview } from 'astro-pure/components/pages'
import { sortMDByDate } from 'astro-pure/server'
import { Button, Card } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import getBlogCollection from '@/utils/blog'
import avatar from '@/assets/avatar.jpg'

const langs = ['Vietnamese', 'English', 'Mandarin Chinese']
const programming = ['Python', 'JavaScript', 'SQL', 'Shell', 'R']
const tools = ['Git', 'Docker', 'VSCode', 'Notion']
const machineLearning = [
  'HuggingFace',
  'PyTorch',
  'scikit-learn',
  'litellm',
  'LlamaIndex',
  'LangChain'
]
const frameworks = ['Flask', 'React.js', 'Astro.js', 'Vue.js', 'Nuxt.js']
const other = ['LaTeX', 'Markdown', 'Canva']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <div class='animate mb-10 flex flex-col items-center gap-y-5' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{about.frontmatter.name}</h1>
        <p class='text-center text-lg text-muted-foreground max-w-2xl'>
          {about.frontmatter.tagline}
        </p>
      </div>

      <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
        <Section>
          <div class='prose dark:prose-invert prose-a:text-primary max-w-none'>
            <about.Content />
          </div>
        </Section>
        <Section title='Research'>
          <Card
            heading='Undergraduate Research Intern @ AI & Mixed Reality Lab, Landshut University of Applied Sciences'
            subheading='Landshut, Bavaria, Germany'
            date='Jun 2022 - Aug 2024'
          >
            <ul class='ms-4 list-disc text-muted-foreground'>
              <li>
                Developed a reproducible pipeline for 3D object detection using LiDAR point cloud
                data and PointPillars (a machine learning algorithm)

                <li>Conducted benchmarking analysis on synthetic datasets</li>
              </li>
            </ul>
          </Card>
        </Section>

        <Section title='Skills'>
          <SkillLayout title='Languages' skills={langs} />
          <SkillLayout title='Programming' skills={programming} />
          <SkillLayout title='Tools' skills={tools} />
          <SkillLayout title='ML' skills={machineLearning} />
          <SkillLayout title='Frameworks' skills={frameworks} />
          <SkillLayout title='Other' skills={other} />
        </Section>

        {
          allPostsByDate.length > 0 && (
            <Section title='Posts'>
              <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
                {allPostsByDate.map((p) => (
                  <li class='flex flex-col gap-x-2 sm:flex-row'>
                    <PostPreview post={p} />
                  </li>
                ))}
              </ul>
              <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
            </Section>
          )
        }
        <Section title='Miscellaneous'>
          <div class='prose dark:prose-invert prose-a:text-primary max-w-none'>
            <misc.Content />
          </div>
        </Section>
      </div>
    </div>
  </main>
</PageLayout>
