---
import { sortMDByDate } from 'astro-pure/server'
import { getBlogCollection } from '@/server'
import PageLayout from '@/layouts/BaseLayout.astro'
import { BlogCard, Button, Card, Profile, Prose, Section, SkillLayout } from '@/components'

import * as misc from 'content/misc.md'

const langs = ['Vietnamese', 'English', 'Mandarin Chinese']
const programming = ['Python', 'JavaScript', 'SQL', 'Shell', 'R']
const tools = ['Git', 'Docker', 'VSCode', 'Notion']
const machineLearning = [
  'HuggingFace',
  'PyTorch',
  'scikit-learn',
  'litellm',
  'LlamaIndex',
  'LangChain'
]
const frameworks = ['Flask', 'React.js', 'Astro.js', 'Vue.js', 'Nuxt.js']
const other = ['LaTeX', 'Markdown', 'Canva']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex flex-col items-center'>
    <div id='about-content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Profile />

      <Section title='Research'>
        <Card
          heading='Undergraduate Research Intern @ AI & Mixed Reality Lab, Landshut University of Applied Sciences'
          subheading='Landshut, Bavaria, Germany'
          date='Jun 2022 - Aug 2024'
        >
          <p class='text-muted-foreground'>
            Developed a reproducible pipeline for 3D object detection using LiDAR point cloud data
            and <a href='https://arxiv.org/abs/1812.05784' target='_blank' rel='noopener noreferrer'
              >PointPillars</a
            >
            algorithm, and conducted benchmarking analysis on synthetic datasets
          </p>
        </Card>
      </Section>

      <Section title='Skills'>
        <SkillLayout title='Languages' skills={langs} />
        <SkillLayout title='Programming' skills={programming} />
        <SkillLayout title='Tools' skills={tools} />
        <SkillLayout title='ML' skills={machineLearning} />
        <SkillLayout title='Frameworks' skills={frameworks} />
        <SkillLayout title='Other' skills={other} />
      </Section>

      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <BlogCard post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }
      <Section title='Miscellaneous'>
        <Prose>
          <misc.Content />
        </Prose>
      </Section>
    </div>
  </main>
</PageLayout>
