---
import { Image } from 'astro:assets'

import { Svg } from 'astro-pure/user'

function isImageMetadata(obj: any): obj is ImageMetadata {
  return obj && typeof obj === 'object' && 'src' in obj
}

const { icon, alt, className = '', hidden = '' } = Astro.props
---

{
  isImageMetadata(icon) ? (
    <div class={`size-11 rounded-lg bg-primary-foreground p-2 ${hidden} ${className}`}>
      <Image src={icon} alt={alt} class='h-full w-full object-contain' />
    </div>
  ) : (
    <Svg
      src={icon}
      class={`size-11 rounded-lg bg-primary-foreground fill-foreground p-2 ${hidden} ${className}`}
    />
  )
}
